Dictionary in Python is an unordered collection of data values, used to store data values like a map, which unlike other Data Types that hold only single value as an element, Dictionary holds key:value pair. Key value is provided in the dictionary to make it more optimized.

In [1]:
a = [1,2,3]

In [2]:
a

[1, 2, 3]

In [3]:
type(a)

list

In [4]:
b = {'Name': ' Ameer'}

In [5]:
b

{'Name': ' Ameer'}

In [6]:
type(b)

dict

In [7]:
c = {'Name':['Ameer','John','Manna'],'Salary':[1000,2000,3000]}

In [8]:
c

{'Name': ['Ameer', 'John', 'Manna'], 'Salary': [1000, 2000, 3000]}

In [9]:
c["Name"]

['Ameer', 'John', 'Manna']

In [10]:
c['Salary']

[1000, 2000, 3000]

# Build a dictionary from Scratch

In [15]:
def build_profile(first,last, **user_info):
    profile ={}
    profile['First Name'] = first
    profile['Last Name'] = last
    for key,value in user_info.items():
        profile[key] = value
    return profile

user_profile = build_profile('Mohammed','Ameer',
                             location='Bangalore',
                            field = 'Electronics')

user_profile

{'First Name': 'Mohammed',
 'Last Name': 'Ameer',
 'location': 'Bangalore',
 'field': 'Electronics'}

In [12]:
type(user_profile)

dict

# Converting Dictionary into Dataframe

In [24]:
import pandas as pd
a = {'Name': ['Ameer' , 'John' , 'Joseph'] ,
     'Salary' :[ 20000, 15000, 25000],
      'Company' : ['Apple','Google','IBM']}
df = pd.DataFrame(a)
df

     Name  Salary Company
0   Ameer   20000   Apple
1    John   15000  Google
2  Joseph   25000     IBM

In [25]:
responses = {} # Create an empty Dictionary

In [27]:
name = input('What is your name? ') # Ask the question to store in Key
workshop = input(' Which workshop you want to attend? ') # Question for Values
responses[name] = workshop 
# Dictionary  - responses
# Key - name
# workshop - values
responses

What is your name? AM
 Which workshop you want to attend? El

{'Am': 'M', 'AM': 'El'}